@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Roboto", sans-serif; */


.mobile-home-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    /* width: 200px;
    height: 400px; */
    /* Add your mobile styles here */
  }
  
  .mobile-title {
    font-size: 16px;
    color: white;
    font-family: 'roboto', sans-serif;
    font-weight: 200;
    padding: 20px 10px;
    /* Add mobile title styles */
  }
  
  .mobile-text {
    font-size: 17px;
    color:white;
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    /* margin-top:-125px ; */
    /* Add mobile text styles */
  }
  .mobile-img{
    background-image: url(../images/seal-mobile.png);
    width: 100px;
    height: 150px;
    object-fit: cover;
    object-position: 100% 0;
    margin-bottom: 100px;
    margin-right: 23px;
    
  }

  .mobile-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  width: 100px;
  height: 30px;
  color: white;
  font-family: 'poppins', sans-serif;
  font-weight: 100;
  background-color:black;
  border:solid white;
  border-width: 1px;
  border-radius: 5%;
  font-size: 10px;
  margin-top: -50px;
  cursor: defult;
  }
  .mobile-btn a {
    text-decoration: none;
    color: inherit; /* Inherit the text color from the button */
    display: flex; /* To ensure the text fills the button if needed */
    justify-content: center;
    align-items: center;
    width: 100%; /* Make the anchor fill the button */
    height: 100%;
    }

    .aboutmobile-container{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;
      /* margin-right: -20px;
      margin-left: -20px; */
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .aboutmobile-text{
      font-family: 'poppins', sans-serif;
      color: white;
      font-size: 17px;
      font-weight: 200;
      margin-top: 10px;
      line-height: 2;
      margin-bottom: 20px;
      margin-left: 5px;
      margin-right: 5px;
    }
    
    .aboutmobile-left{
      font-family: 'poppins', sans-serif;
      color: white;
      font-size: 17px;
      font-weight: 200;
      height: 75px;
      width: 100;
      margin-left: -1px;
      margin-right: 75px;
      margin-top: -200px;
      line-height: 2;
      line-height: 2;
    }
    
    .aboutmobile-right{
      font-family: 'poppins', sans-serif;
      color: white;
      font-size: 17px;
      font-weight: 200;
      /* margin-left: -289px;
      margin-top: 20px; */
      line-height: 2;
      width: 400px;
      height: 300px;
    }
    
    .aboutmobile-bottom{
      font-family: 'poppins', sans-serif;
      color: white;
      font-size: 17px;
      font-weight: 200;
      line-height: 2;
      margin-top: 225px;
      /* margin-left: 30px;
      margin-right: 50px; */
      background-color: rebeccapurple;
    }
    
    .ruby-mobile{
     background-image: url('../images/ruby3.png');
     width: 75px;
     height: 150px;
     border:solid white;
     margin-top: 25px;
     margin-left: 195px;
     object-fit: cover;
     object-position: 100%;
    
    }
    

